@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="block_path02"><a href="/"><span class="icon gui_icon"> </span></a>> サイトマップ</p>
<div class="sitemap">
    <h2 class="pagetitle">410 Gone</h2>
    <div class="ready_box">
        <div>
            <p>このページは表示できません。</p>
            <p class="ready_link"><a href="/">トップページへ戻る</a></p>
        </div>
    </div>
</div>

