@{
    // Namespace	: Splg.Areas.Npb.Models.ViewModel
    // FileName		: JlgCommon.cshtml
    // Device       :  PC
    // Developer	: Nguyen Minh Kiet
    // Update date  : 2015-04-10
    // Using        :
}
@* 広告が入るまでの処置 *@
@*<div class="side_block01 resimg">
</div>*@
@*
        <!-- 広告が入るまでの処置 -->
    <div class="side_block01">
        <img class="resimg" src="~/Content/img/tmp/dummy_2.png" alt="" />
    </div>
    *@
  <!-- InstanceEndEditable -->
<div id="show_expected_points">
    @Html.Action("ShowExpectedPoints", "RightContent", new { area = "" })
</div>
<!-- InstanceEndEditable -->

