@{
    // Namespace	: Splg.Areas.Npb
    // Controller   : NpbTeamInfoDailyResult
    // FileName		: Index.cshtml
    // Developer	: Nguyen Ho Long Hai
    // Update date  : 2015-04-06
    // Html No      : 8-5-2(Mobile)
    ViewBag.Title = "チーム情報　日程・結果";
    ViewBag.Name = Constants.NPBTEAMINFOSCHE;
    Layout = "~/Views/Shared/Mobile/_NpbLayout.cshtml";
}
<script src="~/Areas/Npb/Scripts/Mobile/8-5-2.js"></script>
@Html.Partial("~/Areas/Npb/Views/Shared/Mobile/_NpbTeamInfoMenu.cshtml")
@Html.Partial("~/Views/Shared/Mobile/_NextPrevMonth.cshtml")
<div id="npbGameInfoWeek">
    @{
        var now = DateTime.Now;
        var startOfMonth = new DateTime(now.Year, now.Month, 1).ToShortDateString().Replace("/", ""); ;
        var DaysInMonth = DateTime.DaysInMonth(now.Year, now.Month);
        var lastDay = new DateTime(now.Year, now.Month, DaysInMonth).ToShortDateString().Replace("/", ""); ;
    }
    @Html.Action("ShowGameInfo", "NpbTop", new { area = "Npb", type = 2, startDate = startOfMonth, endDate = lastDay })
</div>

