@{
    //Namespace  : Splg
    //Controller :
    //FileName   : _SearchEngine.cshtml
    //Developer  : Nguyen Ho Long Hai
    //create date : 20150420
    //Html no:partial view
    //function : share content page on social(mobile)
}
<script type="text/javascript">
    $(document).ready(function () {
        //facebook share
        var linkfb = 'http://www.facebook.com/sharer.php?u=' + window.location.href;
        document.getElementById("fb_share").setAttribute("href", linkfb);
        document.getElementById("fb_share").setAttribute("target", "_blank");
        //Twitter share
        var linkTwitter = 'https://twitter.com/home?status=' + window.location.href;
        document.getElementById("twitter_share").setAttribute("href", linkTwitter);
        document.getElementById("twitter_share").setAttribute("target", "_blank");
        //Google+ share
        var linkGoogle = 'https://plus.google.com/share?url=' + window.location.href;
        document.getElementById("google_share").setAttribute("href", linkGoogle); document.getElementById("google_share").setAttribute("target", "_blank");
        document.getElementById("google_share").setAttribute("target", "_blank");
    });
</script>
<ul class="sig-log">
    <li><a id="fb_share"><img src="~/Mobile/Content/img/tmp/log-icon01.png" alt="facebook"></a></li>
    <li><a id="twitter_share"><img src="~/Mobile/Content/img/tmp/log-icon02.png" alt="twitter"></a></li>
    <li><a id="google_share"><img src="~/Mobile/Content/img/tmp/log-icon03.png" alt="gplus"></a></li>
</ul>



