@*
     チュートリアルポップアップ
     filename: Splg\Views\Shared\Mobile\TutorialPopup.cshtml
     device  : mobile
*@
<div class="outside_overclay">
    <div class="tutorial_popup">
        <p class="close_popup popclose"><img src="img/tmp/close.png" alt="exit" /></p>
        <h2 class="add_pop_title" id="popTitleSp">
            スポログとは？
        </h2>
        <div class="add_image" id="imgTutorial01">
            <img src="~/Content/img/tmp/tutorial_01_sp.gif" alt="">
        </div>
        <p class="add_pagr01" id="contentSp01">
        </p>
        <p class="add_pagr01" id="contentSp02"></p>
        <p class="sig-submit" id="nextPopupSp"><a href="javascript:;">ポイントを貯めると？</a></p>

        @*todo:試合終了ポップアップのON,OFF切替*@
        <input type="checkbox" id="nodisplay"/>表示しない

    </div>
</div>

