@model Splg.Core.Models.Flotr2.Dto.Shared.ChartResult

<div id="@Model.ChartContainerSettings.ChartContainerId" class="@Model.ChartContainerSettings.ChartContainerClass"></div>
@Html.Raw(Model.ChartScript)