@{
    // Namespace	: Splg.Areas.Npb.Models.ViewModel
    // FileName		: NpbHeaderSubMenu.cshtml
    // Device       :  PC
    // Developer	: Nguyen Minh Kiet
    // Update date  : 2015-04-10
}
<div class="submenu" id="menu01">
    <div class="sub_mleft">
        <h2>プロ野球</h2>
        <ul class="tab-menu">
            <li><a href="#section01">日程・結果</a></li>
            <li><a href="#section02">順位表</a></li>
            <li><a href="#section03">個人成績</a></li>
            <li class="current">@Html.ActionLink("チーム成績", "Index", "NpbTeamInformation", new { area = "Npb" }, null)</li>
            <li><a href="#section05">ニュース</a></li>
        </ul>
    </div>
    <div class="sub_mright">
        <div id="section01" class="tab-section">
            <h3>日程・結果</h3>
            <ul>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
            </ul>
        </div>
        <div id="section02" class="tab-section">
            <h3>順位表</h3>
            <ul>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
            </ul>
        </div>
        <div id="section03" class="tab-section">
            <h3>個人成績</h3>
            <ul>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
            </ul>
        </div>
        <div id="section04" class="tab-section">
            <h3>最新ニュース</h3>
            <ul>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
            </ul>
        </div>
        <div id="section05" class="tab-section">
            <h3>ニュース</h3>
            <ul>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
                <li>
                    <div><img class="resimg" src="~/Content/img/top/img08.jpg" alt="" /></div>
                    <p>＜プロ野球＞ソフトバンク<br />内川と今宮が自主トレ公開</p>
                </li>
            </ul>
        </div>
    </div>
</div>
    </div>