@{
    //Author : Nojima
    //FileName : Index.cshtml (3-7-2)
    //Created Date : 2015/04/12
}

@{
    ViewBag.Title = "設定　アカウントの削除";
    ViewBag.PageNo = Splg.Areas.MyPage.MyPageConstant.SETTING_DELETEACCOUNT;
    Layout = "~/Views/Shared/_MyPageLayout.cshtml";
}
<script src="~/Scripts/jquery.shorten.1.0.js"></script>
<script src="~/Scripts/splgCommon.js"></script>

<div class="block_04">
    <div class="block_04_7">
        <h2 class="mytitle01">アカウントが削除されました</h2>

        <table cellpadding="0" cellspacing="0" summary="mypage">
            <thead>
                <tr>
                    アカウントが削除されました。
                    <br />
                    ご利用いただきありがとうございました。
                </tr>
            </thead>
            <tbody valign="top">
                <tr>
                    <td>
                        <a href="/">スポログのトップページへ行く</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
