@{
    //Author : Nojima
    //FileName : Index.cshtml (3-7-3)
    //Created Date : 2015/04/12
}

@model Splg.Areas.MyPage.Models.ViewModel.MyPageSettingDeleteAccountViewModel

@{
    ViewBag.Title = "設定　アカウントの削除";
    ViewBag.PageNo = Splg.Areas.MyPage.MyPageConstant.SETTING_DELETEACCOUNT;
    Layout = "~/Views/Shared/_MyPageLayout.cshtml";
}
<script src="~/Scripts/jquery.shorten.1.0.js"></script>
<script src="~/Scripts/splgCommon.js"></script>

<div class="block_04">
    <div class="block_04_7">
        <h2 class="mytitle01">@Model.Nickname のアカウントを削除しますか？</h2>

        <table cellpadding="0" cellspacing="0" summary="mypage">
            <thead>
                <tr>
                    アカウントを削除するとお客様のデータが全て削除されます。
                    <br />
                    一度削除されるとデータは復旧できません。
                    <p>
                        それでもよろしいでしょうか？
                    </p>
                </tr>
            </thead>
            <tbody valign="top">
                <tr>
                    <td>
                        <p class="board_link"><a href="/mypage/setting/deleteaccount/execute/">削除する</a></p>
</td>
                    <td>
                        <p class="board_link"><a href="/mypage/setting/">いいえ</a></p>
</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
