@{
    ViewBag.Title = "パスワードを忘れた方 - 確認";
}

<div class="bottom">
    <div class="mem_block01 clear">
        <div class="mem_b1_1">
            <h2>パスワードを忘れた方</h2>
        </div>
        <div class="mem_b2_1">
            <p class="mail_title">
                ご登録時のメールアドレスと、ご登録されたお名前を入力して「次へ」ボタンをクリックしてください。<br>※新しくパスワードを発行いたしますので、お忘れになったパスワードはご利用できなくなります。
            </p>
            <p class="mail_note">
                <img src="~/Content/img/tmp/mail_note.png" alt="メールの確認はお早めに！" />
            </p>
        </div>
    </div>
</div>

