
@{
    ViewBag.Title = "ログアウト - 完了";
}

<div class="bottom">
    <div class="mem_block01 clear">
        <div class="mem_b1_1">
            <h2>スポログからログアウトしました。</h2>
        </div>
        <div class="mem_b2_1">
            <p class="mail_title">
                <span class="bold">スポログからログアウトしました。</span><br />
                引き続きスポログをお楽しみください！
            </p>
            <p class="board_link"><a href="@Url.Action("Index", "Home", new { tokenID = @ViewBag.TokenID })">スポログトップページへ</a></p>
        </div>
    </div>
</div>

