@{
    ViewBag.pageNO = "2-1-1";
    ViewBag.Title = "会員登録 - 完了";
}
<div class="bottom">
    <div class="mem_block01 clear">
        <div class="mem_b1_1">
            <h2>スポログにユーザー登録が完了しました！</h2>
            <ul>
                <li>STEP 1<br />入力</a></li>
                <li>STEP 2<br />確認</a></li>
                <li>STEP 3<br />メール送信</a></li>
                <li><span>STEP 4<br />登録完了</span></li>
            </ul>
        </div>
        <div class="mem_b2_1">
            <p class="mail_title">
                <span class="bold">ユーザー登録が完了しました！</span><br />
                引き続き、スポログをお楽しみください！
            </p>
            <p><a href="#">早速、予想してみる？</a></p>
            <p class="mail_note">
                <img src="~/Content/img/tmp/mail_note01.png" alt="welcome to スポログ！" />
            </p>
            <p class="board_link">
                <a href="@Url.Action("Index","Home")">スポログのトップページへ行く</a>
            </p>
        </div>
    </div>
</div>