@{
    ViewBag.Title = "利用規約";
    Layout = "~/Views/Shared/Mobile/_Layout.cshtml";
}

<div class="sitemap">
    <h2 class="rule_title">スポログの遊び方</h2>
    <dl class="rule_group01">
        <dt>スポログとは？</dt>
		<dd>
			試合速報やチーム・選手データなどの詳細な情報を基に、試合の勝敗予想をすることで、スポーツをより楽しく観戦するための情報サイトです。<br>
			予想や感想などの記事をSNSへシェアできる機能を備えているので、ファン・サポーター同士のコミュニケ-ションの場としても活用できます。<br>
			<a class="cal_pop1" href="#">チュートリアルを見る</a>
		</dd>
		<dt>スポログユーザー登録（無料）とは？</dt>
		<dd>
			スポログの様々な機能をご利用いただくためには、「スポログへのユーザー登録（無料）」が必要になります。<br>
			スポログにユーザー登録（無料）をすると、試合予想や記事投稿、お気に入りのユーザーのフォローをすることができます。
		</dd>
		<dt>どうやって予想をするの？</dt>
		<dd>
			ご登録時に無償で付与される100,000ポイントを使って好きな試合に好きな分だけポイントを使うことができます。<br>
			予想が的中すると試合の倍率に応じてポイントを得ることができますが、予想が外れてしまうとポイントは返却されません。<br>
			月末時点で所持ポイントが100,000ポイントを切っている場合、翌月1日にポイントがリセットされ再度100,000ポイントからスタートすることができますが、月中にポイントを使い切ってしまうと翌月まで予想できなくなりますので、計画的にご利用ください。<br>
			<a class="cal_pop2" href="#">チュートリアルを見る</a>
		</dd>
		<dt>予想でポイントを増やすと？</dt>
		<dd>
			見事的中させて増えたポイントはそのまま引き継いで次の試合に使うことができます。<br>
			また、付与された100,000ポイントから増えた分のポイントで賞品に応募することもできます。<br>
			例：所持ポイントが101,360ポイントの場合、1,360ポイント分懸賞に応募することが出来ます。<br>
			※応募に必要なポイント数は賞品により異なります。詳しくは懸賞ページにてご確認ください。<br>
			<a class="cal_pop3" href="#">チュートリアルを見る</a>
	   </dd>
    </dl>
</div>
<div class="outside_overclay"> </div>
<div class="add_popup suport_pop1">
	<p class="close_popup popclose"><img src="~/Content/img/tmp/close.png" alt="exit" /></p>
	<div class="pop_croll">
		<h2 class="add_pop_title">
			スポログとは？
		</h2>
		<div class="add_image">
			<img src="~/Content/img/tmp/tutorial_01_sp.gif" alt="">
		</div>
		<p class="add_pagr01">無償で付与されるポイントを使って、実際に行われるプロ野球、J リーグ、MLBなどの試合に対し勝敗予想を楽しめる、完全無料のサービスです。今までに無い、新しいスポーツの楽しみ方をご提供します！</p>
		<p class="sig-submit change_box2 popclose"><a href="#">ポイントを貯めると？</a></p>
	</div>
</div>	
<div class="add_popup suport_pop1b">
	<p class="close_popup popclose"><img src="~/Content/img/tmp/close.png" alt="exit" /></p>
	<div class="pop_croll">
		<h2 class="add_pop_title">
			ポイントを貯めると？
		</h2>
		<div class="add_image">
			<img src="~/Content/img/tmp/tutorial_02_sp.gif" alt="">
		</div>
		<p class="add_pagr01">見事試合予想を的中させポイントが増えると、次の試合予想にも使える他、「スポログ」で開催される懸賞に応募することもできます！</p>
		<p class="add_pagr01">ぜひ「スポログ」にご登録（無料）いただき、スポーツ観戦を「より熱く！楽しく！」お楽しみください！</p>
		<p class="sig-submit popclose"><a href="/signup/">ユーザー登録（無料）</a></p>
	</div>
</div>	
<div class="add_popup suport_pop2">
	<p class="close_popup popclose"><img src="~/Content/img/tmp/close.png" alt="exit" /></p>
	<div class="pop_croll">
		<h2 class="add_pop_title">
			試合予想してみましょう！
		</h2>
		<div class="add_image">
			<img src="~/Content/img/tmp/tutorial_03_sp.gif" alt="">
		</div>
		<p class="add_pagr01">まずは好きな試合の勝敗を予想してみましょう！<br>やり方は簡単、ページをスクロールして好きな試合を選び、｢予想する｣ボタンを押してみてください。</p>
		<p class="sig-submit popclose"><a href="#">閉じる</a></p>
	</div>
</div>
<div class="add_popup suport_pop3">
	<p class="close_popup popclose"><img src="~/Content/img/tmp/close.png" alt="exit" /></p>
	<div class="pop_croll">	
		<h2 class="add_pop_title">
			ポイントの使い方
		</h2>
		<div class="add_image">
			<img src="~/Content/img/tmp/tutorial_07_sp.gif" alt="">
		</div>
		<p class="add_pagr01">見事的中させて増えたポイントはそのまま引き継いで次の試合に使うことができます。<br>また貯めたポイントを使って「スポログ」で開催される懸賞に応募することもできます！</p>
		<p class="add_pagr01">それでは結果をご確認いただき、「スポログ」でスポーツ観戦を「より熱く！より楽しく！」お楽しみください！</p>
		<p class="sig-submit popclose"><a href="#">閉じる</a></p>
	</div>
</div>
<script>
$(document).ready(function() {
	winH = $("body").height();
	winW = $("body").width();
	$(".outside_overclay").css('height',winH);
	$(".outside_overclay").css('width',winW);
	$(".popclose").click(function() {
		$(".outside_overclay").css("display","none");
		$(".add_popup").css("display","none");
	});
	$(".change_box2").click(function() {
		$(".suport_pop1").css("display","none");
		$(".outside_overclay").css("display","block");
		$(".suport_pop1b").css("display","block");
	});
	$(".cal_pop1").click(function() {
		$(".outside_overclay").css("display","block");
		$(".suport_pop1").css("display","block");
	});	
	$(".cal_pop2").click(function() {
		$(".outside_overclay").css("display","block");
		$(".suport_pop2").css("display","block");
	});	
	$(".cal_pop3").click(function() {
		$(".outside_overclay").css("display","block");
		$(".suport_pop3").css("display","block");
	});	
});
</script>