@{
    ViewBag.Title = "試合終了通知メール配信不具合のお詫び";
    Layout = "~/Views/Shared/Mobile/_Layout.cshtml";
}

<style type="text/css">
    th.th1 {
        width: 20%;
    }

    th.th2 {
        width: 40%;
    }

    th.th3 {
        width: 40%;
    }
</style>


<div class="sitemap">
    <h2 class="rule_title">試合終了通知メール配信不具合のお詫び</h2>
    <dl class="rule_group01">
        <dd>
          いつもスポログをご愛顧くださいまして、誠に有難うございます。<br/>
          <br/>
          試合終了時の通知メール配信に関しまして<br/>
          下記の通り不具合が発生いたしましたのでご報告いたします。<br/>
          <br/>
          ■発生時刻<br/>
          7/29(水)17:30<br/>
          <br/>
         ■障害内容<br/>
         競技を問わず、過去に予想を行った試合の試合終了メールが全て配信される<br/>
        <span style="color:red">※期間中メール設定変更にて「予想した試合が終了したら受け取る」にチェックを入れていた方のみとなります</span><br/>
        <br/>
        現在は原因の特定及び修正対応が完了し、正常に動作しております。<br/>
        今後再発の無いよう努めて参ります。<br/>
        この度は大変なご迷惑をおかけ致しましたことをお詫び致します。
        </dd>
    </dl>
</div>
