@{
    ViewBag.Title = "利用規約";
    Layout = "~/Views/Shared/Mobile/_Layout.cshtml";
}
<div class="sitemap">

    <h2 class="rule_title">スポログ利用規約</h2>
    <dl class="rule_group01">
        <dt>第1条（利用規約）</dt>
        <dd>スポログ利用規約（以下「本規約」といいます。）は、株式会社メディアーノ（以下「当社」といいます）が提供する「スポログ」情報提供サービス（以下「本サービス」といいます。）を利用するに当たり遵守しなければならない事項を定めたものであり、本サービスを利用する者（以下「利用者」といいます。）の全てに適用されるものとします。</dd>
    </dl>
    <dl class="rule_group01">
        <dt>第2条（本規約の範囲）</dt>
        <dd>
            <ul>
                <li>当社が利用者に対して発する第23条所定の通知は、この利用規約（以下「本規約」といいます）の一部を構成するものとします。</li>
                <li>当社が、本規約の他に別途定める個別の利用規約（以下「個別利用規約」といいます。）も、名目の如何にかかわらず、本規約の一部を構成するものとします。</li>
                <li>本規約の定めと個別利用規約の定めが異なる場合は、個別利用規約の定めが優先して適用されるものとします。</li>
            </ul>
        </dd>
        <dt>第3条（利用料金）</dt>
        <dd>本サービスの利用料金は無料とします。</dd>
        <dt>第4条（本サービス内容）</dt>
        <dd>
            <ul>
                <li>利用者は、当社の定める方法に従い、本サービスを利用することができます。</li>
                <li>本サービスの主たる内容は、本サイト上にて表示するものとします。</li>
                <li>当社は、本サービスの仕様の改良、追加、削除等の変更を行うことがあり、利用者は、これを予め承諾します。また、当社は、本サービスの提供を、必要に応じて第三者に委託することができるものとします。</li>
            </ul>
        </dd>
        <dt>第5条（利用登録）</dt>
        <dd>
            <ul>
                <li>利用登録希望者が当社の定める方法によって利用登録を申請し、当社がこれを承認することによって、利用登録が完了するものとします。</li>
                <li>当社は、利用登録を申請する者（以下「申請者」といいます。）の登録を認める場合には、その旨及びID・パスワード等の情報を通知します。当該通知で定められた時点より、申請者は登録者として登録され、当該登録者（以下「登録者」といいます。）と当社との間に、本サービスの利用に関する契約（以下「本契約 」といいます。）が成立します。</li>
                <li>
                    <p>当社は、申請者に以下の事由があると当社が判断した場合、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負わないものとします。</p>
                    <ul>
                        <li>（1）	利用登録の申請に際して虚偽の事項を届け出た場合</li>
                        <li>（2）	当社の定める方法によらずに利用登録を申請した場合</li>
                        <li>（3）	本規約に違反したことがある者である場合</li>
                        <li>（4）	本規約に違反するおそれがある者であると当社が判断した場合</li>
                        <li>（5）	未成年者、成年被後見人、被保佐人または被補助人のいずれかであり、法定代理人、後見人、保佐人または補助人の同意等を得ていなかった場合</li>
                        <li>（6）	反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。）である、または資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力もしくは関与する等反社会的勢力との何らかの交流もしくは関与を行っていると当社が判断した場合</li>
                        <li>（7）	その他、当社が利用登録を相当でないと判断した場合</li>
                    </ul>
                </li>
            </ul>
        </dd>
        <dt>第6条（登録者IDおよびパスワードの管理）</dt>
        <dd>
            <ul>
                <li>登録者は、自己の責任において、本サービスの登録者IDおよびパスワードを管理するものとします。</li>
                <li>登録者は、いかなる場合にも、登録者IDおよびパスワードを第三者に譲渡または貸与することはできません。当社は、登録者ID及びパスワードの組み合わせが登録情報と一致してログインされた場合には、当該ログインした者を真正な登録者とみなします。</li>
                <li>登録者によるIDおよびパスワードの管理不十分、使用上の過誤、不正使用等によって登録者が損害を被ったとしても、当社は一切責任を負わないものとします。</li>
            </ul>
        </dd>
        <dt>第7条（設備等）</dt>
        <dd>利用者は、本サービスを利用するために必要な通信機器、ソフトウェア、その他これらに付随して必要となる全ての機器を、自己の費用と責任において準備し、本サービスが利用可能な状態に置くものとします。また、自己の費用と責任で、任意の電気通信サービスを経由して本サービスに接続するものとします。</dd>
        <dt>第8条（保証の否認）</dt>
        <dd>
            <ul>
                <li>当社は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。以下同じ。）がないことを明示的にも黙示的にも保証しておりません。</li>
                <li>当社は、本サービスに事実上または法律上の瑕疵があった場合において、利用者または第三者が被ったいかなる損害についても一切責任を負わないものとします。 </li>
            </ul>
        </dd>
        <dt>第9条（知的財産権）</dt>
        <dd>
            <ul>
                <li>本サービスに関する知的財産権等はすべて当社に帰属します。</li>
                <li>本規約に定める本サービスの利用許諾は、本規約に明示的に規定される場合を除き、本サービスに関する当社の知的財産権等に関し、いかなる権利も許諾するものではありません。利用者は、本サービスが予定している利用態様を超えて、本サービスを利用することはできません。</li>
                <li>利用者は、本サービスに対して、リバースエンジニアリング、逆コンパイル、又は逆アセンブラ、その他本サービスを解析しようと試みてはならないものとします。</li>
                <li>登録者は、当社に送信・提供した情報（以下「投稿物等」といいます。）について、自らが送信することについて適法な権利を有していること及び当社、他の利用者または第三者の権利を侵害するものではないことを保証します。第三者から当社に対し、投稿物等に起因する請求や主張がなされた場合には、登録者は、登録者の責任において解決するものとします。</li>
                <li>登録者は投稿物等にかかる知的財産権等を、送信後も引き続き保有します。当社は、本サービスの運営のために必要な範囲に限って、投稿物等を使用または利用（複製、翻案、公衆送信及びそのために必要な送信可能化を含み、これに限りません。）することができるものとします。登録者はこれに対し、当社並びに当社より正当に権利を取得した第三者及び当該第三者から権利を承継した者に対し、著作者人格権を行使しないことに同意します。また、登録者は当社に対し、投稿物等について著作者人格権を行使しないものとします。 </li>
                <li>登録者は、投稿物等の内容を第三者のサービス（以下「第三者サービス」といいます）に送信・提供した場合は、第三者サービスの定める利用規約に従うものとします。第三者サービスの定める利用規約に違反したことに起因する請求や主張がなされた場合には、登録者は、登録者の責任において解決するものとします。</li>
                <li>当社は、投稿物等について、安全に管理するよう努めますが、本サービスが、本質的に情報の喪失、改変、破壊等の危険が内在するインターネット通信網を利用した電磁的サービスであることに鑑みて、登録者は、投稿物等を自らの責任においてバックアップするものとします。当該バックアップを怠ったことによって登録者が被った損害について、当社は、投稿物等の復旧を含めて、一切責任を負いません。</li>
                <li>
                    <p>当社は、以下のいずれかに該当し又は該当すると当社が判断した場合は、事前に通知することなく、投稿物等の全部又は一部を閲覧、保存、復元し、または第三者へ開示することがあります(以下「閲覧等」といいます。)。なお、当社は上記判断に関する理由を開示する義務は負いません。</p>
                    <ul>
                        <li>（1）	登録者の同意を得たとき</li>
                        <li>（2）	当社が閲覧等の同意を求める連絡を登録者に行ってから7日以内に、当該登録者からの回答がなかったとき</li>
                        <li>（3）	裁判所、警察等の公的機関から、法令に基づく正式な要請を受けたとき</li>
                        <li>（4）	法律に従い閲覧等の義務を負うとき</li>
                        <li>（5）	登録者が本規約所定の禁止行為を行ったとき</li>
                        <li>（6）	登録者又は第三者の生命・身体・その他重要な権利を保護するために必要なとき</li>
                        <li>（7）	本サービスのメンテナンスや技術的不具合解消のために必要があるとき</li>
                        <li>（8）	上記各号に準じる必要性があるとき</li>
                    </ul>
                </li>
                <li>
                    <p>当社は、以下のいずれかに該当し又は該当すると当社が判断した場合は、事前に通知することなく、投稿物等について、その全部又は一部を削除し又は公開・掲載を一時停止することができます(以下「削除等」といいます。)。当社は、削除された投稿物等について、当該情報の復旧を含めて、一切責任を負わず、また、上記判断に関する理由を開示する義務は負いません。</p>
                    <ul>
                        <li>（1）	登録者の同意を得たとき</li>
                        <li>（2）	当社が削除等の同意を求める連絡を登録者に行なってから7日以内に、当該登録者からの回答がなかったとき</li>
                        <li>（3）	裁判所、警察等の公的機関から、法令に基づく正式な要請を受けたとき</li>
                        <li>（4）	法律に従い削除等の義務を負うとき</li>
                        <li>（5）	登録者が本規約所定の禁止行為を行ったとき</li>
                        <li>（6）	登録者又は第三者の生命・身体・その他重要な権利を保護するために必要なとき</li>
                        <li>（7）	その理由を問わず、本契約が終了したとき</li>
                        <li>（8）	第4条3項によって本サービスが変更、中断、終了したとき</li>
                        <li>（9）	上記各号に準じる必要性があるとき</li>
                    </ul>
                </li>
                <li>前二項の規定にかかわらず、当社は、投稿物等を監視する義務は負いません。</li>
            </ul>
        </dd>
        <dt>第10条（私的利用の範囲外の利用禁止）</dt>
        <dd>
            <ul>
                <li>利用者は、当社が承認した場合（当該情報に関して権利をもつ第三者がいる場合には、当社を通じ当該第三者の承諾を取得することを含みます。）を除き、本サービスを通じて入手したいかなる画像、動画、テキスト、その他一切の情報（以下「本サービス入手情報」といいます。）も、個人的にまたは家庭内その他これに準ずる限られた範囲内でのみ使用できるものとします。</li>
                <li>利用者は、前項の私的利用の範囲を超えて、本サービス入手情報を複製することはできず、かつ、上演、公衆送信、口述、譲渡、貸与、翻訳、翻案等をすることはできません。</li>
            </ul>
        </dd>
        <dt>第11条（営業活動の禁止）</dt>
        <dd>利用者は、本サービスまたは本サービス入手情報を使用して、営業活動もしくは営利を目的とした行為またはそれらの準備を目的とした行為を行うことができません。</dd>
        <dt>第12条（その他の禁止事項）</dt>
        <dd>
            <p>前2条の他、利用者は本サービス上で以下の行為を行わないものとします。</p>
            <ul>
                <li>第三者もしくは当社の財産、プライバシーその他の権利を侵害する行為、または侵害する恐れのある行為</li>
                <li>第三者もしくは当社に不利益もしくは損害を与える行為、またはその恐れのある行為</li>
                <li>公序良俗に反する行為、またはその恐れのある行為</li>
                <li>犯罪行為もしくは犯罪行為に結び付く行為、またはその恐れのある行為</li>
                <li>他人の電子メールアドレスを登録する等、虚偽の申告・届出を行う行為</li>
                <li>第三者または当社の名誉・信用を毀損する行為</li>
                <li>本サービスのネットワークに不正にアクセスする行為</li>
                <li>コンピュータウィルス等有害なプログラムを使用もしくは提供する行為、またはその恐れのある行為</li>
                <li>本サービスの利用を受ける権利を第三者に譲渡、売買、名義変更し、または担保に提供する等の行為</li>
                <li>本サービスにより利用しうる情報を改ざんする行為</li>
                <li>当社の本サービスの運営を妨害するおそれのある行為</li>
                <li>他の利用者又は第三者になりすます行為</li>
                <li>第三者に本サービスを利用させる行為</li>
                <li>過度に暴力的な表現、露骨な性的表現、人種、国籍、信条、性別、社会的身分、門地等による差別につながる表現、自殺、自傷行為、薬物乱用を誘引または助長する表現、その他反社会的な内容を含み他人に不快感を与える表現を、投稿または送信する行為</li>
                <li>営業、宣伝、広告、勧誘、その他営利を目的とする行為（当社の認めたものを除きます。）、性行為やわいせつな行為を目的とする行為、面識のない異性との出会いや交際を目的とする行為、他のお客様に対する嫌がらせや誹謗中傷を目的とする行為、その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</li>
                <li>宗教活動または宗教団体への勧誘行為</li>
                <li>反社会的勢力等(暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。)の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与をする行為</li>
                <li>法律、条例、その他の法令に違反する行為、またはその恐れのある行為</li>
                <li>その他、当社が不適切と判断する行為</li>
            </ul>
        </dd>
        <dt>第13条（利用制限および登録抹消）</dt>
        <dd>
            <ul>
                <li>
                    <p>当社は、以下の場合には、事前の通知なく、投稿データを削除し、利用者に対して本サービスの全部もしくは一部の利用を制限しまたは利用者としての登録を抹消することができるものとします。</p>
                    <ul>
                        <li>（1）	本規約のいずれかの条項に違反した場合</li>
                        <li>（2）	登録事項に虚偽の事実があることが判明した場合</li>
                        <li>（3）	破産、民事再生、会社更生または特別清算の手続開始決定等の申立がなされたとき</li>
                        <li>（4）	1年間以上本サービスの利用がない場合</li>
                        <li>（5）	当社からの問い合わせその他の回答を求める連絡に対して30日間以上応答がない場合</li>
                        <li>（6）	反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。）である、または資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力もしくは関与する等反社会的勢力との何らかの交流もしくは関与を行っていると当社が判断した場合</li>
                        <li>（7）	その他、当社が本サービスの利用を適当でないと判断した場合</li>
                    </ul>
                </li>
                <li>当社は、前項の規定に基づき当社が行った行為により利用者に生じた損害について、一切の責任を負いません。</li>
            </ul>
        </dd>
        <dt>第14条（利用者からの解約）</dt>
        <dd>
            <ul>
                <li>登録者が本サービスの停止または本サービスの利用を解約する場合は、所定の方法にて当社に届け出るものとします。</li>
                <li>登録者が当社の定める手続きを完了した時点で、本サービスの利用を停止し、本契約を解約したとみなします。</li>
                <li>前条の規定により登録を抹消され本契約を解除された場合は、その時点で本契約は終了します。</li>
            </ul>
        </dd>
        <dt>第15条（本サービスの一時的な中断）</dt>
        <dd>
            <ul>
                <li>
                    <p>当社は、以下のいずれかの事由が生じた場合には、利用者に事前に通知することなく、一時的に本サービスを中断することがあります。</p>
                    <ul>
                        <li>（1）	本サービス用設備等の保守を定期的にまたは緊急に行う場合</li>
                        <li>（2）	火災、停電等により本サービスの提供ができなくなった場合</li>
                        <li>（3）	地震、噴火、洪水、津波等の天災により本サービスの提供ができなくなった場合</li>
                        <li>（4）	戦争、動乱、暴動、騒乱、労働争議等により本サービスの提供ができなくなった場合</li>
                        <li>（5）	その他、運用上または技術上当社が本サービスの一時的な中断が必要と判断した場合</li>
                    </ul>
                </li>
                <li>当社は、前項各号のいずれか、またはその他の事由により本サービスの提供の遅延または中断等が発生したとしても、これに起因する利用者または第三者が被ったいかなる損害についても一切責任を負わないものとします。</li>
            </ul>
        </dd>
        <dt>第16条（本サービスの提供の中止）</dt>
        <dd>
            <ul>
                <li>当社は、当社が必要と判断した場合には、本サービスの全部または一部の提供を中止することができるものとします。 </li>
                <li>当社は、本サービスを変更または中止したことによって利用者または第三者が被ったいかなる損害についても一切責任を負わないものとします。</li>
            </ul>
        </dd>
        <dt>第17条（情報の取扱い）</dt>
        <dd>
            <ul>
                <li>当社は、利用者の情報を、別途「プライバシーポリシー」に基づき、適切に取り扱うものとします。</li>
            </ul>
        </dd>
        <dt>第18条（通信の秘密）</dt>
        <dd>
            <ul>
                <li>当社は、利用者の通信の秘密を守るものとします。 </li>
                <li>刑事訴訟法第218条の定めに基づく強制の処分が行われた場合には、当社は、当該処分の定める範囲で前項の守秘義務を負わないものとします。</li>
                <li>当社は、利用者の本サービス利用記録の集計、分析を行い、統計資料を作成し、新規サービスの開発等の業務の遂行のために利用、処理することがあります。また、当社は、統計資料を業務提携先等に提供することがあります。</li>
            </ul>
        </dd>
        <dt>第19条（秘密保持）</dt>
        <dd>利用者は、本サービスに関連して当社が利用者に対して秘密に扱うことを指定して開示した情報について、当社の事前の書面による承諾がある場合を除き、開示目的以外に利用せず、また、第三者に開示しないものとします。</dd>
        <dt>第20条（紛争処理及び損害賠償）</dt>
        <dd>
            <ul>
                <li>利用者が、本サービスに関連して第三者からクレームを受け又は第三者との間で紛争が生じた場合、利用者は、直ちにその内容を当社に通知すると共に、利用者の費用と責任において、当該クレーム又は紛争を処理し、その進捗及び結果を当社に報告するものとします。</li>
                <li>当社が、利用者による本サービスの利用に関連して第三者からクレームを受け又は第三者との間で紛争が生じた場合、利用者は、利用者の費用と責任において、当該クレーム又は紛争を処理し、その進捗及び結果を当社に報告すると共に、当社が支払いを余儀なくされた金額その他の損害を賠償するものとします。</li>
                <li>利用者との本規約に基づく本サービスのご利用に関する契約が消費者契約法に定める消費者契約に該当する場合、本規約の各規定における当社の免責は適用されないものとする。この場合において、当社が利用者に対して損害賠償義務を負う場合、賠償すべき損害の範囲は、利用者に現実に発生した通常の損害に限る(逸失利益を含む特別の損害は含まない。)ものとし、賠償すべき損害の額は、当該損害にかかる通信料相当額（最大100円）を限度とします。ただし、当社の故意又は重過失による損害の場合は、この限りではありません。</li>
            </ul>
        </dd>
        <dt>第21条（権利義務の譲渡）</dt>
        <dd>
            <ul>
                <li>当社は、利用者に対する債権を第三者に譲渡できるものとし、利用者は、そのために利用者の個人情報等が当該第三者に提供されることを承諾するものとします。</li>
                <li>利用者は、当社の事前の書面による承諾なく、本サービスに基づく権利義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできないこととします。</li>
            </ul>
        </dd>
        <dt>第22条（本規約の変更）</dt>
        <dd>
            <ul>
                <li>当社は、利用者の了承を得ることなく、本規約を変更することがあります。この場合には、本サービスの利用条件は、変更後の本規約によります。</li>
                <li>当社が別途定める場合を除き、本規約の変更は、本サービスを提供するウェブサイト（以下「本サイト」といいます。）に掲載する方法によって利用者へ通知します。</li>
                <li>変更後の本規約については、当社が別途定める場合を除いて、本サービス画面に表示した（利用者が本規約に従って、本サービス本サイトにアクセスすれば閲覧が可能となる状態をいいます。以下同じ。）時点より、効力を生じるものとします。</li>
                <li>登録者が第2項の通知から7日以内に本契約を中途解約しない場合、本規約の変更に同意したものとみなします。</li>
            </ul>
        </dd>
        <dt>第23条（当社からの通知）</dt>
        <dd>
            <ul>
                <li>当社は、本サイトに掲載その他当社が適当と判断する方法により、利用者に対し随時必要な事項を通知します。</li>
                <li>前項の通知は、当社が当該通知の内容を本サイトに掲載した時点より効力を発するものとします。</li>
            </ul>
        </dd>
        <dt>第24条（管轄）</dt>
        <dd>本サービスに関連して利用者と当社の間で紛争が生じた場合、訴額に応じて東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。</dd>
        <dd>
            <p>2015年5月22日　制訂・施行</p>
            <p>2015年6月9日　改訂</p>
        </dd>
    </dl>
</div>

