
@{
    ViewBag.Title = "パスワードを忘れた方 - 確認";
    Layout = "~/Views/Shared/Mobile/_Layout.cshtml";
}
<section class="block_7">
    <h3 class="sigtitle">パスワードを忘れてしまった方</h3>
    <div class="sig-frm">
        <p class="sig-txt01">入力いただいたメールアドレスにメールを送信しました。届いたメールを開き、記載されたURLをクリックして新しいパスワードを設定してください。</p>
        <p class="sig-note"><img src="~/Content/img/tmp/reg-note.png" alt="welcome to スポログ！" /></p>
    </div>
</section>

