@{
    // Namespace	: (ViewModelのnamespace?)
    // FileName		: Splg\Areas\Jleague\Views\Shared\Mobile\_JleagueMenu.cshtml
    // Device       : Mobile
    
    // todo: sitemap使用へ変更
}
<!-- path -->
    <nav class="topic-path">
        <p><a href="javascript:void(0)">サッカー</a></p>
        <div class="topic_sub1">
            <div><a href="/jleague">サッカートップ</a></div>
            <div class="topic_sub2">
                <p><a href="javascript:void(0)">J1</a></p>
                <ul>
                    <li><a href="/jleague/j1">J1トップ</a></li>       
                    <li><a href="/jleague/j1/schedule">日程・結果</a></li>       
                    <li><a href="/jleague/j1/standings">順位表</a></li>     
                    <li><a href="/jleague/j1/matrix">戦績表</a></li>   
                    <li><a href="/jleague/j1/stats">個人成績</a></li> 
                    <li><a href="/jleague/j1/teams">チーム情報</a></li>   
                    <li><a href="/jleague/j1/teams/news">ニュース</a></li>                  
                </ul>
            </div>
            <div class="topic_sub2">
                <p><a href="javascript:void(0)">J2</a></p>
                <ul>
                    <li><a href="/jleague/j2">J2トップ</a></li>
                    <li><a href="/jleague/j2/schedule">日程・結果</a></li> 
                    <li><a href="/jleague/j2/standings">順位表</a></li>
                    <li><a href="/jleague/j2/matrix">戦績表</a></li>
                    <li><a href="/jleague/j2/stats">個人成績</a></li>
                    <li><a href="/jleague/j2/teams">チーム情報</a></li>
                    <li><a href="/jleague/j2/teams/news">ニュース</a></li>   
                </ul>
            </div>
            <div class="topic_sub2">
                <p><a href="javascript:void(0)">ナビスコカップ</a></p>
                <ul>              
                    <li><a href="/jleague/jleaguecup">ナビスコC</a></li>     
                    <li><a href="/jleague/jleaguecup/schedule">日程・結果</a></li>     
                    <li><a href="/jleague/jleaguecup/standings">順位表</a></li>     
                    <li><a href="/jleague/jleaguecup/news">ニュース</a></li>     
                </ul>
            </div>
            <div><a href="/jleague/news">ニュース</a></div>
        </div>
    </nav>	

